.questions_qourses {
   order: 1;
   width: 40%;
}
.course_container {
   margin-bottom: 20px;
}
.questions_qourses {
   display: flex;
   align-items: center;
}


input[type=tel] {
    color: #ffc107;
}
@media (min-width: 768px) and (max-width: 991.98px) {
   .questions_qourses {
      width: 90%;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .questions_qourses {
      width: 90%;
   }
}

@media (max-width: 575.98px) {
   .questions_qourses img{
      width: 100%;
   }
   .questions_qourses {
      width: 90%;
   }

}
